* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    width: 340px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  img {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin:auto
  }

  p {
    margin-top: 30px;
    font-weight: 200;
    color: hsl(217, 12%, 63%);
    text-align: center;
  }